$c-gray: #eee;
$colorWhite: #fff;
$colorBlue: #FF9C8E;
$colorDarkBlue: #144ed4;
$colorBgBlack: #008AFF;
$colorBlack: #253757;
$colorGray: #6c788b;
$colorSilver: #c0cdd7;
$colorSkyBlue:#56CCF2;
$colorYellow:#FCC304;
$colorCoral:#F25656;
$colorGreen:#15D850;